/*

Table of Contents
. Typography
. Button Styling
. Navigation 
. Title/Carousel Container
. Video/Get Hollow Wines Container
. 3 Reasons Container
. Wines Section
. Buy Section
. Animations
. Media Queries

/*-------------------------------Typography--------------------------------*/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #000;
    line-height: 4rem;
    font-weight: 700; 
    color:#1A1C4D;
    color: #171945;
    color: #2a2d7c;

}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 400;
}

h3 {
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    color: #2a2d7c;
    line-height: 3rem;
    font-weight: 700;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    color: white;
    line-height: 1.75rem;
    font-weight: 500;
    color:black;
}

.purple {
    color: #2a2d7c;
}

.large {
    font-size: 21px;
}

.small {
    font-size: 16px;
    line-height: 24px;
}

.center {
    text-align: center;
    padding-top: .5rem;
}

.padding {
    padding-bottom: 7px;
}

.headline {
    line-height: 32px;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 2rem;
}

.bold {
    font-weight: 700;
}

/* .black {
        font-weight: 500;
    }*/
/*----------------------------------------Button Styling-------------------------------*/
.btn-group-lg.btn,
.btn-lg {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 200px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-warning {
    background:#442B94;
    background: linear-gradient(rgba(55, 59, 163, 1) 0%, rgba(42, 45, 124, 1) 85%, rgba(28, 30, 82, 1) 100%);
    background: linear-gradient(to bottom, #3232a6 55%, #060666 100%);
    background: linear-gradient(rgba(79,82,179, 1) 0%, rgba(50,54,148, 1) 85%, rgba(38,41,112, 1) 100%);
    border: solid 0px;
    text-align: center;
}

.buttonText {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center !important;
    vertical-align: middle;
}
/*---------------------------Navigation------------------------------*/
.navbar {
    border: 0px solid #BFBFBF;
    box-shadow: 0px 1px 14px #d4d4d4;
    text-align: center;
    background: #ffffff !important;
}

.navbar-brand {
    text-align: center;
    padding: 1rem;
    background-color: #121335 !important;
    background-color: #2A2D7D !important;
    background-color: white !important;
    
}

.navbar.fixed-top.navbar-light.bg-light.align-items-center {
    position: fixed;
    padding: 1% 0px 10px 0px;
    float: left;
    background-color: #121335 !important;
    background-color: #2A2D7D !important;
    background-color: white !important;
    
}

/*-------------------------Title/Carousel Container--------------*/
.firstTitle {
    margin-top: 12rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.carousel {
    height: 20%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

.carousel-control-prev-icon {
    background-image: none;
}
.carousel-control-next-icon {
    background-image: none;
}
/*----------------------Video/Get Hollow Wines Contianer----------------*/
.videoGet {
    /*margin-top: 1rem;
        text-align: center;
        display: block;
        position: relative;
        overflow: hidden;*/
    position: relative;
    background: white;
    overflow: hidden;
}

/*.videoGet:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-image: url("images/grapes.jpg");
    background-repeat: no-repeat;
    background-position: 10% 0%;
    -ms-background-size: 50%;
    /*padding-left: 20px;
        padding-right: 20px;
} */

.videoGet img {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.4;
    background-position: 0% 0;
    -ms-background-size: 70%;
}

.videoGet h2,
.videoGet h3,
.videoGet h4 {
    padding: 10px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #000;
}

.videoGet h3 {
    color: white;
}

.videoGet a {
    opacity: 100%;
    padding: 10px;
    text-align: center;
    z-index: 2;
    position: relative;
    height: 50px;
}

.titleGet {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

/*--------------------------------3 REASONS FOR HOLLOW WINES---------------------------*/

.iconFacts {
    padding-top: 2rem;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
/* Button for the Lab Result Modal*/ 
.btn-primary {
    background-color: white !important;
    border-color: #5A288A !important;
    border: solid 4px;
    width: 132px;
    height: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.infoIcon {
    padding-left: 25px;
    padding-right: 25px;
}

.threeFacts {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

/*------------------------------------Wines Section------------------------------------------*/
.wines {
    padding-top: 5rem;
}

.wines h1 {
    padding-bottom: 2rem;
}

.label {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
}

.wineText {
    padding-right: 5rem;
}

.label2 {
    padding-right: 3rem;
    padding-left:3rem;
}
/*---------------------------------------Buy Section----------------------------------------*/
.card-header {
    background-color: #2a2d7c;
    background: linear-gradient(rgba(79,82,179, 1) 0%, rgba(50,54,148, 1) 85%, rgba(38,41,112, 1) 100%, .3);
    background-color: white;
}

.centerButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.buySection {
    padding-top: 7rem;
}

.winePic {
    padding-top: 1rem;
    padding-bottom:2rem;
}

.black {
    color: black;
    font-size: 20px;
}

.red {
    color: red;
    font-weight: 700;
    font-size:21px;
}
/*-----------------------------Animations--------------------------------*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0%
    }

    80% {
        opacity: 50%;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn3 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0%
    }

    90% {
        opacity: 80%;
    }

    100% {
        opacity: 1;
    }
}

.firstAnimate {
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-duration: 1.25s;
}

.secondAnimate {
    animation-name: fadeIn2;
    animation-delay: 0s;
    animation-duration: 2.75s;
}

.thirdAnimate {
    animation-name: fadeIn3;
    animation-delay: 0s;
    animation-duration: 3.5s;
}

/*----------------------------------Media Queries------------------------------*/
/*---Small Screens---*/


@media (max-width: 576px) {
    h1 {
        font-size: 26px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 32px;
    }

    h2 {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 19px;
        line-height: 18px;
    }

    .logo {
        width: 70%;
    }
    .navbar-brand {
        padding:.75rem;
    }

    .videoGet h2 {
        line-height: 30px;
        padding-bottom: 1rem;
        font-weight: 500;
        padding-top: none;
    }

    .wines h1 {
        padding-bottom: 0px;
    }
    

    .btn-group-lg.btn,
    .btn-lg, .btn-warning {
         height: 40px !important;
         width:160px !important;
    }
 
    .buttonText {
        font-size: 14px;
    }

    .headline {
        line-height: 26px;
        font-size: 22px;
        font-weight: 500;
        padding-bottom: 1rem;
    }

    .firstTitle {
        margin-top: 9rem;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .titleGet {
        padding-top: 2rem;
        padding-bottom: .5rem;
    }

    .titleGet {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    .videoGet img{
        width: 345px;
        height: auto;
    }

    .video {
        margin-bottom: 2rem;
    }

    .carousel {
        height: 18%; 
    }

    .videoGet {
        padding:auto;
    }
/*---3facts---*/
    .threeFacts {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .iconFacts {
        padding-top: 20px;
    }
    .infoIcon {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 40px;
        text-align: center;
    }

    .modalLab {
        width: 325px;
    }

    .icon {
        width:20%;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .smScTitle {
        font-weight: 600;
    }

    .smScBPad {
        padding-bottom: 20px;
    }

    .wineText {
        text-align: center;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 1rem;
    }

    .label {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
    }

    .buySection {
        padding-top: 4rem;
    }

    .card-deck{
        padding-top: 2rem;
    }

    .card {
        border: solid 1.5px lightgray;
    }
    .card-header {
        border-bottom: solid 1.5px lightgray;
    }

    .smScreen {
        display: none;
    }

    .centerButton {
        padding-top: .25rem;
        padding-bottom:.5rem;
    }
    
    #buysafeseal_1_img {
        width: 75%;
    }
}
/*---Landscape Phones---*/

@media (min-width: 576px) and (max-width:768px) { 
    
    h1 {
        font-size: 26px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 32px;
    }

    h2 {
        font-size: 16px;
        padding-left: 0px;
        padding-right: 0px;
        line-height: 18px;
    }

    h3 {
        font-size:13px;
        line-height:9px;
    }

    .wineText {
        text-align: left;
    }
    .small {
        font-size: 12px;
        line-height: 15px;
    }

    .firstTitle {
        margin-top: 12rem;
        text-align: center;
        margin-bottom: 2.5rem;
    }
    
    .smScreen {
        display: block;
    }

    .wineText{
        padding-right: 5px;
        padding-left: 10px;
    }

    .label {
        padding-right: 5px;
        padding-left: 5px;  
    }

}

@media (min-width: 768px) { 
    .videoGet {
        height: 305px;
    }

 }

 @media (min-width: 992px) { 

}
/*---Large Screens---
@media (min-width: 577px) {
    .smScreen {
        display: none;
    }

    .wines {
        padding-top: 5rem;
    }
} */